/* DO NOT TOUCH THIS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gotham;
  src: url(../Assets/font/GothamRounded-Bold.ttf);
}

.spinning{
  animation:spin 0.4s infinite linear
}

@keyframes spin {
  0%{
    transform:rotate(0)
  }
  100%{
    transform:rotate(360deg)
  }
}
