
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* DO NOT TOUCH THIS */
@tailwind base;
@tailwind components;
@tailwind utilities;